.card-product {
  overflow: hidden;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.card-product
{
  img {
  height: 70%;
  object-fit: cover;}
}

.card-product
{
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;}
}

.card-product
{
   p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;}

}

.card-carousel {
  width: 33.3%;
}
.card-product-infos {
  padding: 16px;
  flex-grow: 1;

}

.card{
  background: white;
  border-radius: 15px;
  border: 1px solid rgb(133, 130, 130);
  padding: 10px;
  .col{
  padding: 5px;
  margin-left:10px;
  }
}

.review{
  .col{
  margin-right:10px;
  }
}


.pricetotal{
  border-top: 1px solid rgb(190, 174, 174);
  margin-right: 5px;
  margin-left: 5px;

}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
